{{#each this as |director|}}
  {{log director}}

  {{#director}}
  <div class="get-directors">
    <div data-id="{{id}}" class="names"><strong>Name: </strong> {{first_name}} {{last_name}}</div>
    <div class="born"><strong>Birthdate: </strong> {{born_on}}</div>
    <div class="movies"><strong>Famous Movies: </strong>{{famous_movies}}</div>
  </div>
  {{/director}}

{{/each}}
